.gallerya:link {
    text-decoration: none;
    color: #8a264b;
    font-size: 24px;
}

.gallerya:visited {
    color: #8a264b;
}

.gallerya:hover {
    text-decoration: underline;
    color: maroon;
}

.gallerya.new:hover {
    color: #8a264b;
}

.asetting:link {
    color: #fff;
    font-size: 24px;
}

.asetting:visited {
    color: #fff;
}

.asetting:hover {
    color: #fff;
}

.asetting.new:hover {
    color: #fff;
}

@media screen and (max-width:800px) {
    .gallerya:link {
        text-decoration: none;
        color: #8a264b;
        font-size: 21px;
    }
}

button {
    cursor: pointer;
}

.imgLogo {
    position: relative;
    z-index: 1;
}

*::-webkit-scrollbar {
    width: 1.2em;
}

*::-webkit-scrollbar-thumb {
    background-color: #8a264b;
    border: 2px solid #fff;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px black;
}