.gallerya:link {
    text-decoration: none;
    color: #8a264b;
    font-size: 24px;
}

.gallerya:visited {
    color: #8a264b;
}

.gallerya:hover {
    text-decoration: underline;
    color: maroon;
}

.gallerya.new:hover {
    color: #8a264b;
}

.asetting:link {
    color: #fff;
    font-size: 24px;
}

.asetting:visited {
    color: #fff;
}

.asetting:hover {
    color: #fff;
}

.asetting.new:hover {
    color: #fff;
}

@media screen and (max-width:800px) {
    .gallerya:link {
        text-decoration: none;
        color: #8a264b;
        font-size: 21px;
    }
}

button {
    cursor: pointer;
}

.imgLogo {
    position: relative;
    z-index: 1;
}