@media screen and (max-width:1200px) {
    body {
        overflow-x: hidden;
    }

    .bgisize {
        width: 100%;
        height: 350px;
    }

    .inthepic {
        position: absolute;
        top: 10%;
        right: 20%;
    }

    .about {
        width: 80%;
    }

    .mainh1 {
        font-size: 34px;
        text-align: center;
    }

    .text1 {
        font-size: 19px;
        margin-top: 0.5rem;
        text-align: center;
    }

    #gallery {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: repeat(3, 1fr);

        h3 {
            color: #F8FAFB;
            text-align: center;
            font-size: 30px;
            margin-top: 5px;
        }

        p {
            color: #F8FAFB;
            text-align: center;
            margin-top: 10px;
            font-size: 22px;
        }

        .galleryBox {
            width: 40vw;
            margin: 0 auto;
        }

        .fixgalimg {
            font-size: 1.5rem;
        }

        .gallbuton {
            width: 50%;
            height: 20%;
            color: #8a264b;
            border-radius: 45%;
            margin-right: 26%;
            margin-top: 4vh;
        }
    }

    .inform {
        padding-top: 30px;
        padding-right: 45px;
    }

    .forbuton {
        margin-right: 50px;
    }


    .mininfo {
        margin: auto;
        padding-top: 50px;
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
    }

    .infologo {
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }

    .footerlogo:link {
        font-size: 18px;
    }

    h6 {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .background {
        background-image: none;
    }

    .phonemail {
        display: block;
        /* margin-right: 60vw; */
    }

    .mailimg {
        width: 185px;
        height: 161px;
    }

    #gallery {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, 1fr);

        .galleryBox {
            width: 65vw;
            height: 55vh;
            border-radius: 10%;
            background-color: #8a264b;
            margin: auto;
            box-shadow: 3px 5px 5px black;
        }

        .gallbuton {
            width: 60%;
            height: 15%;
            margin-right: 20%;
            margin-top: 4vh;
            color: #8a264b;
            border-radius: 80%;
        }
    }

    .inform {
        margin: 0 auto;
        margin-top: -80px;
        width: 70.5%;

        .footerh2 {
            font-size: 30px;
            color: aliceblue;
            margin-bottom: 10px;
            text-decoration: underline #C3B2E1;
        }

        .footerp {
            font-size: 16px;
            color: aliceblue;
            margin-bottom: 10px;
        }
    }

    .forbuton {
        width: 30%;
        height: 50px;
        background-color: white;
        color: #8a264b;
        margin-top: 15px;
        border: 2px solid #C3B2E1;
        font-size: 20px;
        border-radius: 50%;
    }

    .contact {
        height: 400px;
        width: 100%;
        background-color: #C3B2E1;
        display: flex;
        justify-content: space-between;
        ;
    }

    .mininfo {
        width: 100%;
        padding-top: 20px;
    }

    .infologo {
        width: 30px;
        height: 30px;
    }

    .footerlogo:link {
        font-size: 14px;
    }

    h6 {
        font-size: 14px;
    }

    .logofix {
        margin-top: 20px;
    }
}