#aboutme{
    margin-top: 0.45vh;
    margin-bottom: -10.5vh;
    background-image: url(../images/try.png);
    background-size: cover;
}

.about {
    color: blue;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.minime {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    margin-top: 50px;
}

.sectionh2 {
    font-size: 50px;
    color: #8a264b;
    font-family: 'Fredoka', sans-serif;
    margin-top: 25px;
    text-shadow: 2px 2px 4px black; 
}

.text2 {
    font-family: 'Fredoka', sans-serif;
    color: #8a264b;
        text-shadow: 2px black;
    margin-top: 20px;
    margin-right: 2vw;
    letter-spacing: 1px;
    width: 27vw;
}

.aboutbuton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-right: 44vw;
}

.buton {
    height: 75px;
    width: 200px;
    border-radius: 50%;
    background-color: #8a264b;
    color: #F8FAFB;
}