* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8FAFB;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a264b;
  color: #fff;
  padding: 10px 20px;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;
}

.miniMe {
  border-radius: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.logo-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 20px;
  font-family: "Rubik Spray Paint", system-ui;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 10px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .nav-links {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    background-color: #8a264b;
    width: 100%;
    flex-direction: column;
  }
  .nav-links.active {
    display: flex;
    position: fixed;
  }
  .nav-links li {
    margin-bottom: 10px;
  }
  .hamburger-menu {
    height: 2.8vh;
    display: flex;
    cursor: pointer;
    background-color: #8a264b;
    margin: 0 auto;
  }
}
.bgisize {
  width: 100%;
  height: 450px;
}

.inthepic {
  position: absolute;
  /* top: 180px; */
  top: 18vh;
  right: 32vw;
}

.mainh1 {
  font-size: 80px;
  color: #8a264b;
  font-family: "Rubik Burned", system-ui;
  margin-top: 10px;
}

.text1 {
  font-family: "Rubik Spray Paint", system-ui;
  color: #8a264b;
  font-size: 20px;
  margin-top: 3rem;
  text-align: center;
}

.langcode {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  box-shadow: 3px 3px 5px #8a264b;
  height: 90px;
  padding: 10px;
}

.gallerya:link {
  text-decoration: none;
  color: #8a264b;
  font-size: 24px;
}

.gallerya:visited {
  color: #8a264b;
}

.gallerya:hover {
  text-decoration: underline;
  color: maroon;
}

.gallerya.new:hover {
  color: #8a264b;
}

.asetting:link {
  color: #fff;
  font-size: 24px;
}

.asetting:visited {
  color: #fff;
}

.asetting:hover {
  color: #fff;
}

.asetting.new:hover {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .gallerya:link {
    text-decoration: none;
    color: #8a264b;
    font-size: 21px;
  }
}
.about {
  color: blue;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.minime {
  border-radius: 100%;
  width: 130px;
  height: 130px;
  margin-top: 50px;
}

.sectionh2 {
  font-size: 50px;
  color: #8a264b;
  font-family: "Fredoka", sans-serif;
  margin-top: 25px;
}

.text2 {
  font-family: "Fredoka", sans-serif;
  color: black;
  margin-top: 20px;
  letter-spacing: 1px;
}

.aboutbuton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  margin-right: 44vw;
}

.buton {
  height: 75px;
  width: 200px;
  border-radius: 50%;
  background-color: #8a264b;
  color: #F8FAFB;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 50px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
#gallery .galleryBox {
  width: 20vw;
  height: 45vh;
  border-radius: 10%;
  background-color: #8a264b;
  margin: auto;
  box-shadow: 3px 5px 5px black;
}
#gallery .galimg {
  width: 100%;
  height: 50%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
#gallery .fixgalimg {
  font-size: 1.5rem;
}
#gallery h3 {
  color: #F8FAFB;
  text-align: center;
  font-size: 1.9rem;
  margin-top: 10px;
}
#gallery p {
  color: #F8FAFB;
  text-align: center;
  margin-top: 20px;
}
#gallery .gallbuton {
  width: 60%;
  height: 15%;
  margin-right: 4vw;
  margin-top: 2vh;
  color: #8a264b;
  border-radius: 80%;
  font-size: 20px;
}

.infogallerry {
  margin: 0 auto;
  margin-top: 100px;
  border-top: 2px solid #8a264b;
}
.infogallerry h2 {
  color: #8a264b;
  text-align: center;
  margin-top: 50px;
  font-size: 4rem;
}
.infogallerry .galleryp {
  color: #8a264b;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.background {
  background-image: url(../images/contact_us.png);
  width: 100%;
  height: 600px;
  background-color: #8a264b;
  margin-top: 100px;
  background-repeat: no-repeat;
}

.phonemail {
  display: none;
}

.inform {
  margin-right: 300px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  width: 25.3%;
  justify-content: space-between;
}
.inform .footerh2 {
  font-size: 40px;
  color: aliceblue;
  margin-bottom: 20px;
  -webkit-text-decoration: underline #C3B2E1;
          text-decoration: underline #C3B2E1;
}
.inform .footerp {
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 20px;
}

input[type=text] {
  background-color: white;
  width: 80%;
  height: 32px;
  border-bottom: 5px solid #C3B2E1;
  padding-top: 10px;
}

.lab {
  font-size: 22px;
  color: #C3B2E1;
}

#ta {
  background-color: white;
  width: 80%;
  height: 60px;
  border-bottom: 5px solid #C3B2E1;
}

.forbuton {
  width: 30%;
  height: 50px;
  background-color: white;
  color: #8a264b;
  margin-top: 20px;
  border: 2px solid #C3B2E1;
  font-size: 20px;
  border-radius: 50%;
}

.contact {
  width: 100%;
  height: 180px;
  background-color: #C3B2E1;
}

.mininfo {
  margin: auto;
  padding-top: 50px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.infologo {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.infocon {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rights {
  width: 100%;
  height: 25px;
  background-color: #8a264b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightname {
  color: aliceblue;
  font-size: 20px;
}

.footerlogo:link {
  text-decoration: none;
  color: #8a264b;
  font-size: 20px;
}

.footerlogo:visited {
  color: #8a264b;
}

.footerlogo:hover {
  text-decoration: underline;
  color: white;
}

.footerlogo.new:hover {
  color: #8a264b;
}

h6 {
  font-size: 20px;
  color: #8a264b;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .bgisize {
    width: 100%;
    height: 350px;
  }
  .inthepic {
    position: absolute;
    top: 10%;
    right: 20%;
  }
  .about {
    width: 80%;
  }
  .mainh1 {
    font-size: 34px;
    text-align: center;
  }
  .text1 {
    font-size: 19px;
    margin-top: 0.5rem;
    text-align: center;
  }
  #gallery {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(3, 1fr);
  }
  #gallery h3 {
    color: #F8FAFB;
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
  }
  #gallery p {
    color: #F8FAFB;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
  }
  #gallery .gallerya {
    text-decoration: none;
    color: #8a264b;
    font-size: 18px;
  }
  #gallery .galleryBox {
    width: 40vw;
    margin: 0 auto;
  }
  #gallery .fixgalimg {
    font-size: 1.5rem;
  }
  #gallery .gallbuton {
    width: 50%;
    height: 20%;
    color: #8a264b;
    border-radius: 45%;
    margin-right: 26%;
    margin-top: 4vh;
  }
  .aboutbuton {
    margin-right: 23vw;
  }
  .inform {
    padding-top: 30px;
    padding-right: 45px;
  }
  .forbuton {
    margin-right: 50px;
  }
  .mininfo {
    margin: auto;
    padding-top: 50px;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
  }
  .infologo {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  .footerlogo:link {
    font-size: 18px;
  }
  h6 {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .background {
    background-image: none;
  }
  .phonemail {
    display: block;
    /* margin-right: 60vw; */
  }
  .mailimg {
    width: 185px;
    height: 161px;
  }
  #gallery {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 1fr);
  }
  #gallery .galleryBox {
    width: 85%;
    height: 55vh;
    border-radius: 10%;
    background-color: #8a264b;
    margin: auto;
    box-shadow: 3px 5px 5px black;
  }
  #gallery .gallbuton {
    width: 60%;
    height: 15%;
    margin-right: 20%;
    margin-top: 4vh;
    color: #8a264b;
    border-radius: 80%;
  }
  .inform {
    margin: 0 auto;
    margin-top: -80px;
    width: 70.5%;
  }
  .inform .footerh2 {
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 10px;
    -webkit-text-decoration: underline #C3B2E1;
            text-decoration: underline #C3B2E1;
  }
  .inform .footerp {
    font-size: 16px;
    color: aliceblue;
    margin-bottom: 10px;
  }
  .forbuton {
    width: 30%;
    height: 50px;
    background-color: white;
    color: #8a264b;
    margin-top: 15px;
    border: 2px solid #C3B2E1;
    font-size: 20px;
    border-radius: 50%;
  }
  .contact {
    height: 400px;
    width: 100%;
    background-color: #C3B2E1;
    /*   display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr); */
  }
  .mininfo {
    width: 95%;
    height: 100%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
  }
  .infologo {
    width: 30px;
    height: 30px;
  }
  .footerlogo:link {
    font-size: 14px;
  }
  h6 {
    font-size: 14px;
    text-align: center;
  }
  .logofix {
    margin-top: 20px;
  }
}
.buton {
  margin-top: 2vh;
}/*# sourceMappingURL=main.css.map */