* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8FAFB;
}

.heading {
    background-color: #8a264b;
    color: #fff;
    flex-direction: row-reverse;
    position: fixed;
    width: 100%;
}

.logo-text {
    font-size: 20px;
    color: #F8FAFB;
    font-family: 'Rubik Spray Paint', system-ui;
}

.miniMe {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-top: 5px;
}

.behindheader {
    width: 100%;
    height: 40vh;
}

.main {
    position: absolute;
    top: 11vh;
    left: 33vw;
    width: 35vw;
}

h2 {
    font-size: 38px;
    color: #8a264b;
    font-family: 'Rubik Burned', system-ui;
    text-align: center;
}

.aboutp {
    font-family: 'Rubik Spray Paint', system-ui;
    color: #8a264b;
    font-size: 16px;
    margin-top: 3rem;
    text-align: center;
}

.twobut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;
    gap: 60px;
    margin-top: 20px;
}

.butun {
    height: 50px;
    width: 200px;
    border-radius: 50%;
    background-color: #8a264b;
    color: #F8FAFB;
    font-size: 15px;
}

a:link {
    color: #fff;
    font-size: 26px;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a.new:hover {
    color: #fff;
}

.afterheadr {
    width: 100%;
    height: 10vh;
    margin-top: -5px;
    background-color: #8a264b;
}

.miniLogos {
    display: flex;
    flex-direction: row;
    gap: 110px;
    margin: 0 auto;
    width: 330px;
}

.imgset {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.imgsetb {
    width: 60px;
    height: 60px;
    margin-top: 17px;
}

.imgpos {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.landaf {
    width: 50%;
    height: 50vh;
    margin: 0 auto;
}

.bottomright {
    height: 20px;
    width: 100%;
    background-color: #8a264b;
}

.rights {
    width: 100%;
    height: 25px;
    background-color: #8a264b;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.rightname {
    color: aliceblue;
    font-size: 20px;
}


@media screen and (max-width:1200px) {
    .landaf {
        width: 80%;
        height: 50%;
        margin: 0 auto;
    }

    .main {
        position: absolute;
        top: 11vh;
        left: 0;
        width: 100vw;
    }

    h2 {
        font-size: 18px;
    }

    .aboutp {
        font-family: 'Rubik Spray Paint', system-ui;
        color: #8a264b;
        font-size: 12px;
        margin-top: 2rem;
        text-align: center;
    }

    .miniLogos {
        width: 100%;
    }

    .afterheadr {
        width: 100vw;
    }

    .imgsetb {
        width: 60px;
        height: 60px;
        margin-top: 1.8vh;
    }
}