@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");

html {
  min-height: 100%;
}

body {
  direction: rtl;
  background-image: url(./snakeback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
  text-align: center;
  overflow: hidden; /* 注  转 */
}

#board {
  background-color: #ffffff00;
  margin: auto;
  border-radius: 6px;
  text-align: center;
  display: inline-grid;
  color: white;
  border: 4px solid black;
  background-color: #ffffff45;
}

* {
  font-family: "Rubik", sans-serif !important;
}

h1 {
  text-align: center;
  color: white;
  margin: 16px;
}

#instructions {
  position: absolute;
  top: 35%;
  right: 60px;
  /*   注专 专 砖转专爪 */
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#board > div {
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake {
  background-color: #3fd662ca;
  background-size: 20px 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #164b0abd;
}

.snake.head {
  background-image: radial-gradient(
    circle at center,
    #164b0abd 100%,
    transparent 100%
  );
  background-size: 20px 20px;
  border: none;
  box-shadow: 0 0 0 2px #3fd662ca, 0 0 4px #3fd662ca;
  box-sizing: border-box;
}

.apple::after {
  content: "";
  font-size: 14px;
  /*  转驻 */
}

#score {
  font-size: 24px;
  color: white;
}

#newGame {
  display: none;
  padding: 20px 25px;
  border: 2px solid green;
}

#instructionsIcon {
  display: none;
}

#closeInstructionsBtn {
  display: none;
}

@media screen and (max-width: 1350px) {
  #instructions {
    width: 250px;
    height: 250px;
margin: 10vh -3vw;  
 top: 15%;  
  }
}

@media screen and (max-width: 1100px) {
  #instructions {
    width: 200px;
    height: 25vh;
  }

  .responsiveFix {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }

  h1 {
    margin-top: -10px;
  }

  #board {
    margin-bottom: -30px;
  }

  #newGame {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 1000px) {
  #instructions {
    width: 20vw;
    height: 37vh;
   margin: 6vh -3.5vw;
   top: 40%;
  }

  #board {
    margin-right: 10px;
  }
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 20px;
    font-weight: bold;
  }

  #board {
    margin: auto;
    display: grid;
    width: 87vw;
    max-width: 800px;
    height: 70%;
    background-color: #ae989863;
  }

  #board > div {
    height: 11.5px;
    width: 12px;
  }

  #newGame {
    padding: 10px 12.5px;
  }

  #score {
    font-size: 16px;
    margin-left: 50px;
  }

  .responsiveFix {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  #instructions {
    position: absolute;
    top: 35%;
    margin: 5vh 12vw;
    transform: translate(-50%, -50%);
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000080;
    width: 200px;
  }

  #instructionsIcon {
    display: initial;
    width: 60px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: black;
    border-radius: 50%;
    margin-right: 15px;
  }

  #closeInstructionsBtn {
    display: block;
    color: red;
    padding: 10px 20px;
    font-size: 20px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  #instructions {
    position: absolute;
    margin: 7vh -28vw;
    transform: translate(-50%, -50%);
    background-color: #ffffffcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000080;
    width: 200px;
  }
}
